<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>First view from Home controller!</p>
    <a href="~/Home/Employees">Сотрудники</a>
</body>
</html>
